<header class="page-header">
    <nav class="page-header_nav-bar">
        <div class="page-header_nav-bar_logo"><img src="/src/logo.png" width="150px"></div>
        <ul class="page-header_nav-bar_list">
            <li class="page-header_nav-bar_list_item"><a class="<%= pageNav === '/' ? 'active': '' %>" href="/">Home</a>
            </li>
            <li class="page-header_nav-bar_list_item"><a class="<%= pageNav === '/product' ? 'active': '' %>"
                    href="/product">Product</a></li>
            <li class="page-header_nav-bar_list_item"><a class="<%= pageNav === '/task' ? 'active': '' %>"
                    href="/task">Task</a></li>
            <li class="page-header_nav-bar_list_item"><a class="<%= pageNav === '/cart' ? 'active': '' %>"
                    href="/cart">Cart</a></li>
            <li class="page-header_nav-bar_list_item"><a class="<%= pageNav === '/admin' ? 'active': '' %>"
                    href="/admin">Admin</a></li>

        </ul>

        <!-- Login sign up -->
        <button class="page-header_nav-bar_login">Login</button>
        <button class="page-header_nav-bar_signup">Sign up</button>
    </nav>
</header>